html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}


body {
  font-family: verdana, sans-serif;
}


h1 {
  font-size: 48px;
  text-align: center;
  margin-top: 46px;
  color: #666;
}

/*For image only.*/
.image-placement {
  margin-top: 20px;
}


h2 {
  color: #f07c17;
  font-size: 24px;
  font-weight: 800;
  margin: 30px 0 0 30px;
}


/* This is my border around my list area.*/
.box-liner {
  border:1px solid #ccc;
  margin-top: 30px;
}

/*For list styling only.*/
.list-line {
  font-size: 16px;
  line-height: 2;
  margin: 30px 0 40px 30px;
}


/* For sub-heading "A Good Way to Start a Day".*/
.sub-heading {
  font-size: 24px;
  font-weight: 600;
  color: #f07c17;
  margin-top: 20px;
}


/* For entire paragh section.*/
.paragraph {
  line-height: 200%;
  font-size: 16px;
  margin-top: 30px;
}