<md-content layout="row" flex layout-xs="column" layout-align="center stretch" layout-margin layout-padding layout-fill ng-cloak><div class="backgroundColorWhite" layout-padding layout-margin flex><!-- TODO: Remove spinner and use angular native spinner. --><div ng-class="Post.getCurrentPost ? 'md-whiteframe':''"><div class="loadingContainer" ng-if="!Post.getCurrentPost.postDescription"><div class="loader"><div class="loader-inner pacman"><div ng-repeat="i in Post.getDivs(5) track by $index"></div></div></div><i class="fa fa-cog fa-spin" ng-if="!Post.cssanimationsSupport"></i></div><h3 ng-if="Post.getCurrentPost">{{Post.getcurrentPostName}}</h3><md-divider></md-divider><p ng-if="Post.getCurrentPost">{{Post.getCurrentPost.postDescription}}</p><pre class="code">
				<code>
/**
 *  Module
 *
 * Description
 */
function ExampleCtrl() {

	console.log('ExampleCtrl');
}
module.exports = function (ngModule) {
	ngModule.controller('ExampleCtrl', ['$scope', ExampleCtrl]);
};
				</code>
			</pre></div></div></md-content>